// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Colors
$red: #f00;
$blue: #1078ff;
$green: #00d84b;

// Brand colors
$primary: $red;
$link: $red;
$info: $blue;
$success: $green;
$danger: $red;

// Typography
$family-primary: Roboto, Arial, sans-serif;
$family-secondary: Orbitron, Arial, sans-serif;

$size-1: 3rem;
$size-2: 2.75rem;
$size-3: 2.5rem;
$size-4: 2.25rem;
$size-5: 2rem;
$size-6: 1.75rem;
$size-7: 1.5rem;
$size-8: 1.375rem;
$size-9: 1.25rem;
$size-10: 1.125rem;
$size-11: 1rem;
$size-12: 0.875rem;
$size-13: 0.75rem;

// Spacing
$navbar-padding-vertical: .3rem;
$navbar-padding-horizontal: 1.5rem;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

$shades: mergeColorMaps(
  (
    "black-bis": $black-bis,
    "black-ter": $black-ter,
    "grey-darker": $grey-darker,
    "grey-dark": $grey-dark,
    "grey": $grey,
    "grey-light": $grey-light,
    "grey-lighter": $grey-lighter,
    "white-ter": $white-ter,
    "white-bis": $white-bis,
  ),
  $custom-shades
);

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 $size-9 $size-10 $size-11 $size-12 $size-13;

// Base
html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

#__nuxt, #__layout {
  height: 100%;
}

.icon {
  vertical-align: bottom;
}

// Layout
$footer-background-color: $white;
$footer-padding: 3rem 1.5rem 3rem;

// Components
$card-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.3), 0 0px 0 1px rgba($scheme-invert, 0.04);

$navbar-box-shadow-size: 0 1px 0 0;
$navbar-box-shadow-color: $grey-lightest;
$navbar-item-hover-color: $grey-dark;
$navbar-item-hover-background-color: $white;

// Elements
$box-shadow: 0 0.5em 1em 0.3em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);

// Import Bulma and Buefy styles
@import "~bulma/sass/base/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/form/shared";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/modal";
@import "~bulma/sass/components/media";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
@import "~bulma/sass/helpers/_all";

@import "~buefy/src/scss/utils/_all";
@import "~buefy/src/scss/components/_carousel";
@import "~buefy/src/scss/components/_navbar";
@import "~buefy/src/scss/components/_table";
@import "~buefy/src/scss/components/_icon";
@import "~buefy/src/scss/components/_modal";

// Elements
.icon-text {
  align-items: center;
}

// Responsiveness
@include mobile {
  .section {
    padding: 3rem 0;
  }

  .columns-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}